/* Estilos generales */
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  /* Encabezado */
  #PaginaInicio > header {
    background: blue;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #PaginaInicio nav a {
    color: white;
    margin-left: 10px;
    text-decoration: none;
  }
  
  /* Contenido principal */
  #PaginaInicio main {
    min-height: 100vh;
    text-align: center;
  }

/* Estilo de artículo */
#PaginaInicio article {
    display: inline-block;
    background: rgb(200, 200, 200);
    margin: 10px;
    width: 40%;
    padding: 20px;
}

  /* Pie de página */
  #PaginaInicio footer {
    background: lightgray;
    padding: 50px 10px;
    color: black;
  }

  #PaginaInicio footer p {
    text-align: center;
  }

  #SeccionEjemplos {
    background-color: red;
    height: 100vh;
    text-align: center; /* Centrar el div horizontalmente */
  }
  
  #SeccionEjemplos div {
    background-color: blue;
    color: white;
    height: 200px;
    width: 200px;
    padding: 20px;
    display: inline-block;
  }
  