@import url("./root.css");

.body_container {
    background-color: var(--color-white);
    color: var(--color-black);
    display: grid;
    min-height: 100vh;
    transition: .3s ease;
}

.body_container.dark {
    background-color: var(--color-black);
    color: var(--color-white);
}

.dark hr {
    border-color: greenyellow;
}

/* ==================================================
================== MENU NAVEGACION ==================
================================================== */

.navigationBar {
    background-color: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5em 1em;
    outline: 2px solid var(--color-black);
}

.dark .navigationBar {
    background-color: var(--color-dark);
}

/* ==================================================
================ CONTENIDO PRINCIPAL ================
================================================== */

.mainContainer {
    padding: 1em 3em;
    display: flex;
    flex-direction: column;
    gap: 1em;

    >header h2 {
        text-align: center;
        font-size: 2.5rem;
    }

    >section {
        background-color: var(--color-light);
        outline: 2px solid var(--color-black);
        padding: 1em 2em;
        display: flex;
        flex-direction: column;
        gap: 1em;

        h3 {
            font-weight: 900;
        }
    }

    code {
        color: darkblue;
        font-size: 1.2em;
    }
}

.dark .mainContainer {
    >section {
        background-color: var(--color-dark);
    }

    code {
        color: greenyellow;
    }
}