@import url("./root.css");

/* ================================================== */

.my-body-container {
    background-color: var(--color-white);
    color: var(--color-black);
    min-height: 100vh;
    transition: .3s ease;
}

.my-body-container.dark {
    background-color: var(--color-black);
    color: var(--color-white);
}

/* ================================================== */

.my-btn {
    border-radius: .5em;
    display: flex;
    gap: .5em;
    padding: .3em .5em;
}

.my-btn-primary {
    background-color: var(--color-primary);
    color: var(--color-white);
}

.my-btn-secondary {
    background-color: var(--color-secondary);
    color: var(--color-black);
}

/* ================================================== */

.my-hr {
    border-color: var(--color-primary);
    width: 100%;
    border-width: .1em;
}

.dark .my-hr {
    border-color: var(--color-secondary);
}

/* ================================================== */

.my-modal {
    background-color: var(--color-light);
    outline: .1em solid var(--color-dark);
    border-radius: .5em;
    height: 50vh;
    width: 90vw;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    overflow-y: auto;

    header {
        background-color: var(--color-secondary);

        h2 {
            color: var(--color-black);
            text-align: center;
            text-transform: uppercase;
            font-weight: bold;
        }
    }

    .my-modal-list-links {
        padding: 1em;

        a {
            padding: .5em 1em;
            display: block;
            font-weight: var(--font-bold);
            outline: 2px solid var(--color-black);
        }

        a:hover {
            background-color: var(--color-white);
            color: var(--color-black);
        }
    }

    .my-modal-section-options {
        div {
            padding: 1em;
            display: flex;
            justify-content: space-between;
        }
    }
}

@media (min-width: 769px) {
    .my-modal {
        width: 30vw;
    }
}

.show.my-modal {
    display: flex;
    flex-direction: column;
}

.dark .my-modal {
    background-color: var(--color-dark);
    outline: 2px solid var(--color-white);

    .my-modal-list-links {
        padding: 1em;

        a {
            outline-color: 2px solid var(--color-white);
            color: var(--color-white);
        }

        a:hover {
            background-color: var(--color-black);
        }
    }
}

/* ================================================== */

.my-details {
    outline: .1em solid var(--color-dark);
    scroll-margin-top: 6em;

    summary {
        padding: .5em 1em;
    }
}

.my-details:target,
.my-details:hover {
    background-color: var(--color-white);
    outline: .2em solid var(--color-primary);
}

.my-details[open] {
    background-color: var(--color-white);
    outline: .2em solid var(--color-primary);

    summary {
        background-color: var(--color-primary);
        color: var(--color-white);
        outline: .2em solid var(--color-primary);
    }
}

.dark {
    .my-details {
        outline-color: var(--color-light);
    }

    .my-details:target,
    .my-details:hover {
        background-color: var(--color-black);
        outline-color: var(--color-secondary);
    }

    .my-details[open] {
        background-color: var(--color-black);
        outline-color: var(--color-secondary);

        summary {
            background-color: var(--color-secondary);
            color: var(--color-black);
            outline-color: var(--color-secondary);
        }
    }
}

/* ================================================== */